.categories{
  display: flex;
  justify-content: space-evenly;

  ul{
    display: flex;
    justify-content: space-around;
    gap: 1em;
  }

  li{
    list-style: none;
    &:hover{
      cursor: pointer;
    }
  }

  .icons{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    &:hover{
      cursor: pointer;
    }
  }
}